*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input{
    display: none;

}

.container{
    width: 100%;
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h2::before {
    position: absolute;
    width: 100px;
    height: 3px;

}