header {
    text-align: center;
    background-color: white;
}
header div a
{
    margin-left: 16px;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Advent Pro',serif;
}

header div a:link, header div a:visited
{
    color: black;
    text-decoration: none;
}

header div a:hover
{
    color: #ba0000;
}