
#dhomat{
    padding: 40px 0px;
    background: linear-gradient(rgb(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../assets/BlogPhotos/img2.jpg") center/cover no-repeat fixed;
    font-family: "Advent pro";
    
}
.dhoma{
    margin: 46px 0;
    padding-bottom: 25px;
    background-color: black;
    color: #fff;

}
.dhomat a {
    font-size: 20px;
    color:rgb(212, 183, 16);
}
.dhomat a:link,.dhomat a:after {
    text-decoration: none;
}
.tex-dhomes{
    padding: 5px 20px;
}

.tex-dhomes h3{
    font-size: 24px;
}

.tex-dhomes ul{
    list-style-type: none;
    margin: 15px 0;
}

.tex-dhomes ul li{
    padding: 7px 0;
}

.tex-dhomes ul li i{
    color: rgb(212, 183, 16);
}

.vlersimi {
    opacity: 0.7;
}

.vlersimi span {
    font-size: 40px;
    font-weight: 900;
    color: rgb(212, 183, 16);
}

.fotoja-dhomes{
    overflow: hidden;
}

.fotoja-dhomes img{
    transition: var(--transition);
}

.fotoja-dhomes:hover img{
    transform: scale(1.1);
}

@media(min-width: 900px){
    .permb-dhomave{
        display: flex;
        flex-wrap: wrap;
    }
    .dhoma{
        flex: 0 0 calc(50% - 20%);
        margin: 10px;
    }
}

@media(min-width: 1370px){
    .permb-dhomave{
      flex-direction:column ;
    }
    .dhoma{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }

    .fotoja-dhomes{
        flex: 1;
    }

    .fotoja-dhomes img {
        height: 100%;
    }
    .tex-dhomes{
        flex: 1;
    } 
    .dhoma:nth-child(even) {
        flex-direction: row-reverse;
    }


}




/* Geolocation */
#Map button {
    margin-top: 50px;
    width: 100px;
    height: 56px;
    background-color: #ce242d;
    font-size: 14px;
    text-transform: uppercase;
    color:white;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Map a {
    display: none;
    margin-top: 25px;
    font-size: 20px;
    font-family: "Advent Pro";
}
/* Second section aka reserving */
#Reserve {
    background-repeat: no-repeat;
    background-position: right 35% top 20%;;
}

#Reserve form {
    font-size: 16px;
    line-height: 36px;
    color: black;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve > b, #Reserve form b {
    margin-left: 10px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color:black;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve form label {
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color:coral;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve form label, #Reserve input {
    margin-left: 10px;
}
#Reserve input[type=date], #Reserve input[type=text],
#Reserve input[type=number], #Reserve input[type=email], 
#Reserve input[type=tel], #Reserve input[type=time],
#Reserve input[type=month] {
    width: 176px;
    height: 47px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 36px;
    color: grey;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve form p {
    margin-left: 10px;
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    color:black;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve button {
    margin-top: 50px;
    width: 100px;
    height: 56px;
    background-color: #ce242d;
    font-size: 14px;
    text-transform: uppercase;
    color:white;
    font-weight: 400;
    font-family: "Khand",serif;
}
#Reserve form li {
    color: #ce242d;
    font-size: 15px;
    font-family: "Advent Pro";
}
#termsOfRes {
    
    margin-top: 50px;
    text-align: center;
    color: #ce242d;
}
#termsOfRes label {
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Advent Pro";
}
#termsOfRes p {
    font-size: 20px;
    font-family: "Advent Pro";
}
#termsOfRes li {
    list-style-position:inside;
    font-size: 15px;
    font-family: "Advent Pro";
}
#termsOfRes a:visited, #termsOfRes a:link {
    text-decoration:none;
    color: #ce242d;
}
