*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* First section of the page*/
/* Backround picture in the first section of the site, and making it centered*/
#first
{
    background-image: url(../assets/Main/Backround.jpg);
    background-size: cover;
}

/* Top left corner, red holiday resort*/
#first h1
{
    /* Backround */
    margin: 0;
    width: 213px;
    height: 148px;
    background-color: #ce242d;
    /* Text */
    padding-top: 35px;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Khand",serif;
    text-align: center;
}

/* Customizing the buttons on the top of the screen */
#first div
{
    position: relative;
    top: -147px;
    text-align: center;
    
}

#first div a
{
    margin-left: 16px;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Advent Pro',serif;
    transition: all 0.2s;
}

#first div a:link, #first div a:visited
{
    color: black;
    text-decoration: none;
}

#first div a:hover
{
    color: #ba0000;
}

/* Text in the middle*/
#first p
{
    margin-bottom: 23px;
    font-size: 64px;
    line-height: 52px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Advent Pro',serif;
    text-align: center;
}

#first #nextholiday
{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 105px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family:'Advent Pro',serif;
    text-align: center;
}

/* Button in the middle */
#first > a
{
    display: block;
    margin: auto;
    padding-top: 21px;
    width: 169px;
    height: 60px;
    background-color: #ce242d;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
    text-align: center;
}

#first > a:link, #first > a:visited
{
    text-decoration: none;
}
/* Customizing the input table*/
#first form
{
    margin-top: 100px;
    width: 100%;
    height: 158px;
    background-color: #1d1d1d;
    padding-top: 25px;
}

#first table
{
    margin: auto;

}

#first table td
{
    padding: 0 5px;
}

/* Customizing the labels inside the table*/
#first label
{
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-weight: 500;
    font-family: "Khand",serif;
}

/* Input boxes*/
#first input
{
    width: 116px;
    height: 47px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 36px;
    color: #8a8a8a;
    font-weight: 400;
    font-family: "Khand",serif;
}

#first input[type=date]
{
    width: 241px;
}

/* Button in the table*/
#first table button
{
    margin-top: 18px;
    width: 206px;
    height: 67px;
    background-color: #ce242d;
}

#first table button p
{
    /* Bigger text*/
    font-size: 19px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";
    text-align: center;
}

#first table button p span
{
    /* Smaller text*/
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffd3d3;
    font-weight: 400;
}
/* Second section of the page */
/* Backround */

#second
{
    background-color: #ffffff;
    margin-bottom: 163px;
}

/* Welcome text */
#second > p
{
    margin: auto;
    margin-top: 122px;
    margin-bottom: 120px;
    width: 1068px;
    height: 174px;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 600;
    font-family: "Advent Pro",serif;
}

#second > p span
{
    font-size: 22px;
    line-height: 19px;
    color: #ba0000;
    font-weight: 500;
    font-family: "Khand",serif;
}

/* Buttons with icons */

#second table
{
    margin: auto;
    border-bottom: 7px solid #b41d25;
}

/* Individual buttons */
#second table a
{
    display: block;
    width: 295px;
    height: 318px;
    padding-top: 50px;
    padding-left: 50px;
    user-select: none;
    transition: all 0.2s;
}

/* text in buttons */
#second table a p
{
    
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
    font-weight: 700;
    font-family: "Advent Pro";
}

#second table a p span
{
    font-size: 20px;
    line-height: 20px;
    color: #d81924;
    font-weight: 500;
    font-family: "Khand";
    position: relative;
    top: 25px;
}

#second table a:link, #second table a:visited
{
    text-decoration: none;
}

#second table a:hover
{
    scale: 1.1;
    background-color: #f5e9e4;
}

/* icons */
#second img
{
    width: 59px;
    height: 59px;
}

/* Third section / Guest reviews */

#GuestReviews
{
    display: flex;
    height: 569px;
}

#GuestReviews div
{
    margin-top: 78px;
    margin-left: 50px;
    width: 34%;
    height: 569px;
    background-color: #ffffff;
    /* text in the middle of photos */
    font-size: 23px;
    line-height: 19px;
    color: #000000;
    font-weight: 500;
    font-family: "Khand";
}

#GuestReviews div p
{
    width: 412px;
    height: 246px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 600;
    font-family: "Advent Pro";
}

#GuestReviews div span
{
    position: relative;
    top: 44px;
    font-size: 18px;
    color: #212121;
    font-weight: 400;
    font-family: "Khand";
    user-select: none;
}

#GuestReviews #starGuest {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ff9422;
}
#GuestReviews #starGuest:hover {
    cursor: default;
}

#smallCircles {
    position: relative;
    left: 271px;
    user-select: none;
}
#smallCircles:hover {
    cursor: default;
}

#smallCircles img {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#smallCircles img:hover {
    cursor: pointer;
}

/* Smaller photo on the right */
#view
{
    width: 16%;
    height: 569px;
    object-fit: cover;
    object-position: 65% 0;
    z-index: 1;
}

/* Bigger photo on the left */
#bigBoat
{
    width: 50%;
    height: 569px;
}

/* Video section */
/* Backround */
#Video {
    background-color: white;
    height: 525px;
}

/* Red button image */
#Video img {
    width: 110px;
    height: 110px;
    float: left;
    margin-left: 32%;
    margin-top: 112px;
}
#Video img:hover {
    cursor: pointer;
}
/* Video */
#Video video {
    display: none;
    margin: auto;
    padding-top: 112px;
}
/* Text in this section */
#textVideo {
    float: left;
    margin-top: 112px;
    margin-left: 2%;
}
#Video span {
    margin-bottom: 0;
    font-size: 23px;
    line-height: 19px;
    color: #ce242d;
    font-weight: 500;
    font-family: "Khand";    
}
#Video h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 43px;
    line-height: 40px;
    text-transform: uppercase;
    color: #212121;
    font-weight: 600;
    font-family: "Advent Pro";   
}
#Video p {
    width: 470px;
    height: 98px;
    font-size: 20px;
    line-height: 26px;
    color: #212121;
    font-weight: 400;
    font-family: "Khand";    
}
/* Button */
#vidButton {
    width: 149px;
    height: 60px;
    background-color: #ce242d;    
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";    
}


/* Rooms section */
/* Backround */
#Rooms {
    height: 705px;
    background-color: #000000;
  
}
/* Removing decorations for all anchors in this section */
#Rooms a:link, #Rooms a:visited
{
    text-decoration: none;
}

/* Left side */
#leftSideRooms {
    float:left;
    margin-left: 25%;
    margin-top: 204px;
}
/* text in the left */
#leftSideRooms h2 {
    margin-bottom: 0;
    font-size: 45px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Advent Pro";
}
#leftSideRooms p {
    width: 401px;
    height: 108px;
    font-size: 20px;
    line-height: 26px;
    color: #b4b4b4;
    font-weight: 400;
    font-family: "Khand";
    margin-bottom: 50px;
}
/* button */
#leftSideRooms a {
    display: block;
    padding-top: 21px;
    width: 169px;
    height: 60px;
    background-color: #ce242d;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
    text-align: center;
}

/* Right side */
/* Right side arrow "buttons" */
#rightSideRooms {
    padding-top: 80px;
    position: relative;
    left: 100px;
}
#rightSideRooms > img {
    float: left;
    width: 45px;
    height: 45px;
    margin-top: 278px;
}
#rightSideRooms > img:hover {
    cursor: pointer;
}
/* Right side anchor */
#rightSideRooms a {
    float: left;
    width: 339px;
    height: 596px;
    display: block;
    border: 1px solid #313131;
    text-align: center;
}
/* red circle at the top */
#perNight {
    position: relative;
    top: 61px;
    left: 57px;
    padding-top: 28px;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ce242d;
    text-align: center;
    font-size: 28px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
}
#perNight span {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Khand";
}
/* Hotel picture in anchor */
#rightSideRooms a img {
    width: 217px;
    height: 217px;
    border-radius: 109px;
    object-fit: cover;
}
/* Text below picture */
#rightSideRooms a p {
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Advent Pro";
}
/* Stars */
#rightSideRooms a #stars {
    position: relative;
    top: -15px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: #fbe03d;
}
/* Text below the stars */
#rightSideRooms a #roomDescription {
    position: relative;
    top: -20px;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    color: #b4b4b4;
    font-weight: 400;
    font-family: "Khand";
    margin-bottom: 0;
}
/* Lowest text */
#rightSideRooms a #viewDetails {
    margin-top: 0;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #d81924;
    font-weight: 500;
    font-family: "Khand";    
}

/* News section */
/* Backround */
#News {
    background-color: white;
}
/* top of the section with numbers */
#numbersList table {
    margin: auto;
    margin-top: 105px;
    margin-bottom: 105px;
}
.bigNumb {
    /* border needs to be bigger  ?*/
    border-left:  1px solid black;
    padding-left: 56px;
    /* numbers */
    font-size: 65px;
    line-height: 30px;
    color: #363636;
    font-weight: 700;
    font-family: "Advent Pro";
}
/* line above first two numbers */
.bigNumb span {
    border-top: 4px solid #ce242d; ;
}
.smallText {
    padding-right: 56px;
    padding-left: 15px;
    /* words */
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ce242d;
    font-weight: 500;
    font-family: "Khand";

}
/* Latest news section */
/* Big words in the beginning */
#News > p {
    margin-top: 122px;
    margin-bottom: 52px;
    text-align: center;
    font-size: 45px;
    line-height: 31px;
    text-transform: uppercase;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Advent Pro";
}
/* anchors */
#latestNews {
    display: flex; 
    margin-bottom: 77px;
}
#latestNews a {
    margin-left: 1%;
    text-align: center;
    padding-top: 58px;
    width: 380px;
    height: 455px;
    background-color: #f5e9e4;
    text-decoration: none;
}
/* images in news anchors */
#latestNews a img {
    object-fit: cover;
    width: 201px;
    height: 201px;
    border-radius: 100px;
}
/* Small calendar */
#latestNews .calendar {
    width: 13px;
    height: 14px;
}
/* Text below the images */
.bigTextNewsAnchor {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ba0000;
    font-weight: 600;
    font-family: "Advent Pro";
}
/* Lowest text in the anchors */
.smallTextNewsAnchor {
    padding-right: 95px;
    padding-top: 47px;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    font-weight: 400;
    font-family: "Khand";
}
.smallTextNewsAnchor span {
    position: relative;
    left: 88px;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ba0000;
    font-weight: 500;
    font-family: "Khand";
}
/* Last grey area */
#Subscribe {
    height: 163px;
    background-color: #f0f0f0;    
    display: flex;
}
/* Text in it */
#Subscribe p {
    margin-top: 34px;
    margin-left: 20%;
    font-size: 45px;
    line-height: 78px;
    text-transform: uppercase;
    color: #ca242b;
    font-weight: 700;
    font-family: "Advent Pro";    
}
#Subscribe span {
    position: relative;
    top: -55px;
    width: 273px;
    height: 34px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    color: #222222;
    font-weight: 400;
    font-family: "Khand";    
}
/* Right side box */
/* Email box */
#Subscribe input[type=email] {
    margin-left: 183px;
    margin-top: 51px;
    width: 393px;
    height: 60px;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 16px;
    color: #606060;
    font-weight: 400;
    font-family: "Khand";
    padding-left: 22px;
}
/* Button */
#Subscribe button {
    position: relative;
    top: -5px;
    width: 209px;
    height: 60px;
    background-color: #ce242d;
    
}
#Subscribe button p {
    position: relative;
    left: -10px;
    top: -14px;
    float: left;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";    
}
#Subscribe button img {
    position: relative;
    top: 14px;
    width: 26px;
    height: 26px;
}
/* Footer/Last section */
/* Backround */
footer {
    height: 507px;
    background-color: #000000;    
}
/* Links and contact information at the top */
/* Removing underline in links and making universal list item changes */
footer a:link, footer a:visited {
    text-decoration: none;
}
footer div a:link, footer div a:visited {
    color: #999999;
}
footer li {
    margin-top: 10px;
    list-style-image:url('../assets/Main/SmallArrow.png');
    font-size: 17px;
    line-height: 14px;
    font-weight: 400;
    font-family: "Khand";
}
/* Leftmost and middle link sections */
.quickLinks {
    float: left;
}
.quickLinks p {
    font-size: 26px;
    line-height: 78px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Advent Pro"; 
    margin-bottom: 0;
}
.quickLinks ul {
    position: relative;
    left: -30px;
    float: left;
    margin-top: 0;
}
/* Rightmost section */
#contactInfoDiv div {
    position: relative;
    left: 11%;
    top: 25px;
    font-size: 26px;
    line-height: 78px;
    text-transform: uppercase;
    color: #ce242d;
    font-weight: 700;
    font-family: "Advent Pro";
}
#contactInfoDiv p {
    position: relative;
    left: 11%;
    top: 8px;
    font-size: 19px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";
}
#contactInfoDiv span {
    margin-left: 50px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;  
}
/* Bottom part */
#bottomInfo {
    display: flex;
    margin-top: 50px;
    margin-left: 15%;

}
#bottomInfo p {

    font-size: 17px;
    line-height: 31px;
    color: #999999;
    font-weight: 400;
    font-family: "Khand";
}
/* Social media icons */
footer img {
    margin-left: 16px;
    margin-top: 25px;
    width: 13px;
    height: 13px;
    user-select: none;
}