*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}
/* First section of the page*/
/* Backround picture in the first section of the site, and making it centered*/
#first
{
    background-image: url(../assets/Main/Backround.jpg);
    background-size: cover;
}

/* Top left corner, red holiday resort*/
#first h1
{
    /* Backround */
    margin: 0;
    width: 213px;
    height: 148px;
    background-color: #ce242d;
    /* Text */
    padding-top: 35px;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Khand",serif;
    text-align: center;
}

/* Customizing the buttons on the top of the screen */
#first div
{
    position: absolute;
    left: 433px;
    top: 20px;
    
}

#first div a
{
    margin-left: 16px;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Advent Pro',serif;
}

#first div a:link, #first div a:visited
{
    color: black;
    text-decoration: none;
}

#first div a:hover
{
    color: #ba0000;
}

/* Text in the middle*/
#first p
{
    margin-bottom: 23px;
    font-size: 64px;
    line-height: 52px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Advent Pro',serif;
    text-align: center;
}

#first #nextholiday
{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 105px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family:'Advent Pro',serif;
    text-align: center;
}

/* Button in the middle */
#first > a
{
    display: block;
    margin: auto;
    padding-top: 21px;
    width: 169px;
    height: 60px;
    background-color: #ce242d;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
    text-align: center;
}

#first > a:link, #first > a:visited
{
    text-decoration: none;
}
/* Customizing the input table*/
#first form
{
    margin-top: 100px;
    width: 100%;
    height: 158px;
    background-color: #1d1d1d;
    padding-top: 25px;
}

#first table
{
    margin: auto;

}

#first table td
{
    padding: 0 5px;
}

/* Customizing the labels inside the table*/
#first label
{
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-weight: 500;
    font-family: "Khand",serif;
}

/* Input boxes*/
#first input
{
    width: 116px;
    height: 47px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 36px;
    color: #8a8a8a;
    font-weight: 400;
    font-family: "Khand",serif;
}

#first input[type=date]
{
    width: 241px;
}

/* Button in the table*/
#first table button
{
    margin-top: 18px;
    width: 206px;
    height: 67px;
    background-color: #ce242d;
}

#first table button p
{
    /* Bigger text*/
    font-size: 19px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";
    text-align: center;
}

#first table button p span
{
    /* Smaller text*/
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffd3d3;
    font-weight: 400;
}

/* Second section of the page */
/* Backround */

#second
{
    background-color: #ffffff;
    margin-bottom: 163px;
}

/* Welcome text */
#second > p
{
    margin: auto;
    margin-top: 122px;
    margin-bottom: 120px;
    width: 1068px;
    height: 174px;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 600;
    font-family: "Advent Pro",serif;
}

#second > p span
{
    font-size: 22px;
    line-height: 19px;
    color: #ba0000;
    font-weight: 500;
    font-family: "Khand",serif;
}

/* Buttons with icons */

#second table
{
    margin: auto;
    border-bottom: 7px solid #b41d25;
}

/* Individual buttons */
#second table a
{
    display: block;
    width: 295px;
    height: 318px;
    padding-top: 50px;
    padding-left: 50px;
}

/* text in buttons */
#second table a p
{
    
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
    font-weight: 700;
    font-family: "Advent Pro";
}

#second table a p span
{
    font-size: 20px;
    line-height: 20px;
    color: #d81924;
    font-weight: 500;
    font-family: "Khand";
    position: relative;
    top: 25px;
}

#second table a:link, #second table a:visited
{
    text-decoration: none;
}

#second table a:hover
{
    background-color: #f5e9e4;
}

/* icons */
#second img
{
    width: 59px;
    height: 59px;
}

/* Third section / Guest reviews */

#GuestReviews
{
    display: flex;

}

#GuestReviews div
{
    width: 34%;
    height: 569px;
    background-color: #ffffff;
    /* text in the middle of photos */
    font-size: 23px;
    line-height: 19px;
    color: #000000;
    font-weight: 500;
    font-family: "Khand";
}

#GuestReviews div p
{
    width: 412px;
    height: 246px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 600;
    font-family: "Advent Pro";
}

#GuestReviews div span
{

    font-size: 18px;
    color: #212121;
    font-weight: 400;
    font-family: "Khand";
}

/* Smaller photo on the right */
#view
{
    width: 16%;
    height: 569px;
    object-fit: cover;
    object-position: 65% 0;
}

/* Bigger photo on the left */
#bigBoat
{
    width: 50%;
    height: 569px;
}


/* Rooms section */
/* Backround */
#Rooms {
    height: 705px;
    background-color: #000000;
    display: flex;
}
/* Removing decorations for all anchors in this section */
#Rooms a:link, #Rooms a:visited
{
    text-decoration: none;
}

/* text in the left */
#leftSideRooms h2 {
    font-size: 45px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Advent Pro";
}
#leftSideRooms p {
    width: 401px;
    height: 108px;
    font-size: 20px;
    line-height: 26px;
    color: #b4b4b4;
    font-weight: 400;
    font-family: "Khand";
}
/* button */
#leftSideRooms a {
    display: block;
    padding-top: 21px;
    width: 169px;
    height: 60px;
    background-color: #ce242d;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
    text-align: center;
}
/* Right side arrow "buttons" */
#Rooms > img {
    width: 45px;
    height: 45px;
}
/* Right side anchor */
#rightSideRooms {
    width: 339px;
    height: 596px;
    display: block;
    border: 1px solid #313131;
    text-align: center;
}
/* red circle at the top */
#perNight {
    position: relative;
    top: 61px;
    left: 57px;
    padding-top: 28px;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ce242d;
    text-align: center;
    font-size: 28px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Khand";
}
#perNight span {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Khand";
}
/* Hotel picture in anchor */
#rightSideRooms img {
    width: 217px;
    height: 217px;
    border-radius: 109px;
    object-fit: cover;
}
/* Text below picture */
#rightSideRooms p {
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Advent Pro";
}
/* Stars */
#rightSideRooms #stars {
    position: relative;
    top: -15px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: #fbe03d;
}
/* Text below the stars */
#rightSideRooms #roomDescription {
    position: relative;
    top: -20px;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    color: #b4b4b4;
    font-weight: 400;
    font-family: "Khand";
    margin-bottom: 0;
}
/* Lowest text */
#rightSideRooms #viewDetails {
    margin-top: 0;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #d81924;
    font-weight: 500;
    font-family: "Khand";    
}

/* News section */
/* Backround */
#News {
    background-color: white;
}
/* top of the section with numbers */
#numbersList table {
    margin: auto;
    margin-top: 105px;
    margin-bottom: 105px;
}
.bigNumb {
    /* border needs to be bigger  ?*/
    border-left:  1px solid black;
    padding-left: 56px;
    /* numbers */
    font-size: 65px;
    line-height: 30px;
    color: #363636;
    font-weight: 700;
    font-family: "Advent Pro";
}
/* line above first two numbers */
.bigNumb span {
    border-top: 4px solid #ce242d; ;
}
.smallText {
    padding-right: 56px;
    padding-left: 15px;
    /* words */
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ce242d;
    font-weight: 500;
    font-family: "Khand";

}
/* Latest news section */
/* Big words in the beginning */
#News > p {
    text-align: center;
    margin-bottom: 52px;
    font-size: 45px;
    line-height: 31px;
    text-transform: uppercase;
    color: #2a2a2a;
    font-weight: 700;
    font-family: "Advent Pro";
}
/* anchors */
#latestNews {
    display: flex; 
    margin-bottom: 77px;
}
#latestNews a {
    margin-left: 1%;
    text-align: center;
    padding-top: 58px;
    width: 380px;
    height: 455px;
    background-color: #f5e9e4;
    text-decoration: none;
}
/* images in news anchors */
#latestNews a img {
    object-fit: cover;
    width: 201px;
    height: 201px;
    border-radius: 100px;
}
/* Small calendar */
#latestNews .calendar {
    width: 13px;
    height: 14px;
}
/* Text below the images */
.bigTextNewsAnchor {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ba0000;
    font-weight: 600;
    font-family: "Advent Pro";
}
/* Lowest text in the anchors */
.smallTextNewsAnchor {
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    font-weight: 400;
    font-family: "Khand";
}
.smallTextNewsAnchor span {
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ba0000;
    font-weight: 500;
    font-family: "Khand";
}