*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

/* Backround picture in the first section of the site, and making it centered*/
#first
{
    background-image: url("assets/Backround.jpg");
    background-size: cover;
    background-position: center;
}

/* Top left corner, red holiday resort*/
#first h1
{
    /* Backround */
    margin: 0;
    width: 213px;
    height: 148px;
    background-color: #ce242d;
    /* Text */
    padding-top: 41px;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Khand";
    text-align: center;
}

/* Customizing the buttons on the top of the screen */
#first div
{
    position: absolute;
    left: 400px;
    top: 50px;
    
}

#first div a
{
    margin-left: 10px;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Advent Pro";
}

#first div a:link, #first div a:visited
{
    color: black;
    text-decoration: none;
}

#first div a:hover
{
    color: #ba0000;
}

/* Text in the middle*/
#first p
{
    font-size: 64px;
    line-height: 52px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Advent Pro";
    text-align: center;
}

#first #nextholiday
{
    margin-top: 0;
    font-size: 105px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Advent Pro";
    text-align: center;
}
/* Customizing the input table*/
#first table
{
    margin-top: 250px;
    width: 100%;
    height: 158px;
    background-color: #1d1d1d;
}

/* Customizing the labels inside the table*/
#first label
{
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-weight: 500;
    font-family: "Khand";
}

/* Input boxes*/
#first input
{
    width: 116px;
    height: 47px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 36px;
    color: #8a8a8a;
    font-weight: 400;
    font-family: "Khand";
}

#first input[type=date]
{
    width: 241px;
}

/* Button in the table*/
#first table button
{
    margin-top: 18px;
    width: 206px;
    height: 67px;
    background-color: #ce242d;
    /* Smaller text*/
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffd3d3;
    font-weight: 400;
    font-family: "Khand";
    text-align: center;
}

#first table button p
{
    /* Bigger text*/
    margin-bottom: 0;
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Khand";
}